.div-mundo, .div-controles{  
  height: 500px
}

.div-controles{
  border: 2px solid gray;
}

#mundo{
  border: 2px solid gray;
}

.div-controles .slider{
  margin-bottom: 25px;
  padding: 10px;
}

.div-controles #buttons{
  margin-bottom: 70px;
}

.div-mundo{
  padding-right: 0px!important;
  padding-left: 0px!important;
}
