.div-mundo{  
  height: 500px
}

.div-controles{
  border: 2px solid gray;
  height: 500px
}

#mundo{
  border: 2px solid gray;
}

.div-controles .slider{
  margin-bottom: 10px;
  padding: 10px;
}

.div-controles #buttons{
  
}

.div-mundo{
  padding-right: 0px!important;
  padding-left: 0px!important;
}
